DATABASE_URL=""
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY=""
OPENAI_API_KEY="your_openai_api_key_here"

MAILER_TRANSPORT_HOST=""
MAILER_TRANSPORT_PORT=""
MAILER_TRANSPORT_SECURE=""
MAILER_EMAIL=""
MAILER_PASSWORD=""

# Redis Configuration
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""
REDIS_TTL_SECONDS=""

RABBITMQ_URL=amqp://admin:admin123@localhost:5672/my_vhost