node_modules
# Keep environment variables out of version control
.env
*.log

/src/generated/prisma
prisma/migrations/migration_lock.toml
dist/*
prisma/seed-assets/voice/Excited_K-pop_fan_sh_#2-1787540310935.mp3
prisma/seed-assets/voice/Excited_K-pop_fan_sh_#3-1787540376409.mp3
prisma/seed-assets/voice/Excited_K-pop_fan_sh_#4-1787540317800.mp3
prisma/seed-assets/voice/Loud,_diverse_crowd__#4-1787540592449 (1).mp3
prisma/seed-assets/voice/Loud,_diverse_crowd__#4-1787540592449.mp3
